@import "https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css";

:root {
  font-size: 16px;
  --radius-large: 1rem;
  --radius: 0.5rem;
  --radius-small: 0.25rem;
  --radius-full: 9999px;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #2e8540;
  --color-blue: #265999;
  --color-yellow: #f2b31a;
  --color-red: #d94d1a;
  --color-neutral-50: #fbfbfb;
  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #e4e4e4;
  --color-neutral-300: #c6c6c6;
  --color-neutral-400: #9c9c9c;
  --color-neutral-500: #6e6e6e;
  --color-neutral-600: #454544;
  --color-neutral-700: #272727;
  --color-neutral-800: #141414;
  --color-neutral-900: #0d0d0d;

  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-900);
  --color-surface: var(--color-white);
  --color-surface-foreground: var(--color-foreground);
  --color-primary: var(--color-foreground);
  --color-primary-foreground: var(--color-background);
  --color-secondary: var(--color-neutral-200);
  --color-secondary-foreground: var(--color-foreground);
  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-400);
  --color-accent: var(--color-blue);
  --color-accent-foreground: var(--color-background);
  --color-destructive: var(--color-red);
  --color-destructive-foreground: var(--color-background);
  --color-warning: var(--color-yellow);
  --color-warning-foreground: var(--color-foreground);
  --color-input: var(--color-surface);
  --color-border: var(--color-neutral-200);
  --color-ring: var(--color-neutral-300);
  --color-dim: var(--color-foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
