@import "https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css";

:root {
  font-size: 16px;
  --radius-large: 1rem;
  --radius: 0.5rem;
  --radius-small: 0.25rem;
  --radius-full: 9999px;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-neutral-50: #fbfbfb;
  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #e4e4e3;
  --color-neutral-300: #c6c5c4;
  --color-neutral-400: #9c9c9b;
  --color-neutral-500: #6e6e6d;
  --color-neutral-600: #454544;
  --color-neutral-700: #272726;
  --color-neutral-800: #141414;
  --color-neutral-900: #0d0d0c;
  --color-primary-50: #faf8f5;
  --color-primary-100: #f8f5f0;
  --color-primary-200: #ece2d6;
  --color-primary-300: #d7c3ad;
  --color-primary-400: #b99a7a;
  --color-primary-500: #98724d;
  --color-primary-600: #7d532e;
  --color-primary-700: #693f1d;
  --color-primary-800: #5e3415;
  --color-primary-900: #592e12;
  --color-accent-50: #f0f5f8;
  --color-accent-100: #ecf2f6;
  --color-accent-200: #d3e1eb;
  --color-accent-300: #acc4d8;
  --color-accent-400: #7c9dbd;
  --color-accent-500: #50769f;
  --color-accent-600: #315786;
  --color-accent-700: #204274;
  --color-accent-800: #18366a;
  --color-accent-900: #143066;
  --color-red-50: #fdf2ef;
  --color-red-100: #fde5e2;
  --color-red-200: #fbd2ce;
  --color-red-300: #f7afa7;
  --color-red-400: #f39187;
  --color-red-500: #f07a6d;
  --color-red-600: #ee695b;
  --color-red-700: #ed5d4d;
  --color-red-800: #ec5544;
  --color-red-900: #d0271b;

  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-primary-900);
  --color-surface: var(--color-primary-50);
  --color-surface-foreground: var(--color-foreground);
  --color-primary: var(--color-primary-500);
  --color-primary-foreground: var(--color-primary-50);
  --color-secondary: var(--color-primary-200);
  --color-secondary-foreground: var(--color-primary-900);
  --color-muted: var(--color-primary-200);
  --color-muted-foreground: var(--color-primary-400);
  --color-accent: var(--color-accent-500);
  --color-accent-foreground: var(--color-accent-50);
  --color-destructive: var(--color-red-800);
  --color-destructive-foreground: var(--color-red-50);
  --color-input: var(--color-primary-50);
  --color-border: var(--color-primary-200);
  --color-ring: var(--color-primary-300);
  --color-dim: var(--color-primary-900);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
