h1 {
  font-family: Times, serif;
}

a {
  color: inherit;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;
}

button {
  color: var(--color-primary-foreground);
  background-color: var(--color-primary);
}

button:hover {
  background-color: var(--color-primary-hover);
}

button.secondary {
  border: 1px solid var(--color-border);
  color: var(--color-secondary-foreground);
  background-color: var(--color-secondary);
}

button.secondary:hover {
  background-color: var(--color-secondary-hover);
}

button.icon {
  padding: 0.5rem;
  color: var(--color-secondary-foreground);
  background-color: transparent;
}

button.icon:hover {
  background-color: var(--color-secondary-hover);
}

a.icon {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: var(--color-secondary-foreground);
  background-color: transparent;
  transition: background-color 0.1s;
}

a.icon:hover {
  background-color: var(--color-secondary-hover);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  cursor: pointer;
  color: inherit;
  background-color: var(--color-input);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-large);
  font-size: 0.875rem;
  height: 3rem;
  line-height: 1.5rem;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 1rem - 5px) 1.25rem, calc(100% - 1rem) 1.25rem;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  outline: none;
  transition: border-color 0.1s;
}

select:focus {
  border-color: var(--color-primary);
}
