<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOV Calculator</title>
    <style>
        .grid {
            display: grid;
            grid-template-columns: 120px 320px 80px;
            gap: 10px 10px;
        }
    </style>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app" class="grid">
        <label>FOV</label>
        <input type="range" min="0" max="180" step="0.001" v-model="fov">
        <input type="number" min="0" max="180" step="0.001" v-model.lazy="fov">

        <label>Distance</label>
        <input type="range" min="0" max="10" step="0.001" v-model="distance">
        <input type="number" min="0" step="0.001" v-model="distance">

        <div>Type of scale</div>
        <div>
            <input type="radio" id="dmm-scale" value="dmm" v-model="type">
            <label for="dmm-scale">DMM</label>

            <input type="radio" id="world-scale" value="world" v-model="type">
            <label for="world-scale">World</label>

            <input type="radio" id="custom-scale" value="custom" v-model="type">
            <label for="custom-scale">Custom</label>
        </div>

        <input type="number" id="scale-input" min="0" max="1" step="0.0001" :disabled="disabled" v-model="scale">

        <label>Size</label>
        <div></div>
        <input type="number" min="0" step="1" v-model.lazy="size">

        <div style="width: 540px;">
            <img style="width: 100%;" src="./imgs/human-visual-field-range.jpg">
        </div>

    </div>

    <script>

        function fovToSize(fov, distance, scale) {
            return (2 * Math.tan((fov / 2) * Math.PI / 180) * distance) / scale;
        }

        function sizeToFov(size, distance, scale) {
            return Math.atan(size * scale / 2 / distance) / Math.PI * 180 * 2;
        }

        Vue.createApp({
            data() {
                return {
                    fov: 64,
                    distance: 2.4,
                    type: "dmm",
                    scale: 0.0024,
                    disabled: true,
                    size: 1249.738703818655,
                }
            },
            watch: {
                fov(val) {
                    this.size = fovToSize(val, this.distance, this.scale);
                },
                distance(val) {
                    if (this.type == "dmm") {
                        this.scale = this.getDmmScale;
                    }
                    this.size = fovToSize(this.fov, val, this.scale);
                },
                type(val) {
                    switch (val) {
                        case "dmm":
                            this.scale = this.getDmmScale;
                            this.disabled = true;
                            break;
                        case "world":
                            this.scale = 1;
                            this.disabled = true;
                            break;
                        case "custom":
                            this.disabled = false;
                    }
                    this.size = fovToSize(this.fov, this.distance, this.scale);
                },
                size(val) {
                    this.fov = sizeToFov(val, this.distance, this.scale);
                }
            },
            computed: {
                getDmmScale() {
                    return this.distance / 1000;
                }
            }
        }).mount('#app');

    </script>
</body>

</html>